/*  your css code here. If applicable */
table {
  border: 1px solid orange;
  border-collapse: collapse;
  width: 100%;
  border-width: 0px 0px 1px 1px;
}

th, td {
  border-style: solid;
  border-color: orange;
  border-width: 1px 1px 0px 0px;
  text-align: center;
  padding: 3px 5px;
}
th{
	background-color:rgb(136, 136, 136);
	color:rgb(255, 255, 255);
}
.sub-total-text{
	text-align:right;
}